*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-align: center;
    flex-wrap: wrap;
}
.box{
    border: 1px dashed #000;
    width: 30vw;
    height: 40vh;
    margin: 0.8rem;
}
.task p{
    background-color: aqua;
    margin: 0.3rem;
    font-size: 1.8rem;  
}

